<div onclick="onCardClick('{{ card._id }}')"
    class="flex flex-col gap-3 p-4 bg-white rounded-2xl border border-gray-100 shadow-sm hover:shadow-md transition-shadow cursor-pointer">
    <div class="flex items-center justify-between">
        <span class="font-semibold text-xl font-medium text-gray-400 countdown"
            data-duedate="{{ card.card_duedate }}"></span>
        <span class="text-l text-gray-400">{{ card.card_duedate }}</span>
    </div>
    <h3 class="text-2xl font-semibold text-gray-900 truncate">{{ card.card_title }}</h3>
    <div class="flex items-center justify-end">
        <div class="flex items-center gap-1">
            <img onclick="onIconClick(event, '{{ card.card_url }}')" src="{{ card.card_type }}"
                class="w-12 h-12 rounded-md object-cover cursor-pointer hover:opacity-80 transition" />
        </div>
        <span class="px-3 text-2xl font-semibold text-gray-800 pointer-events-none">{{ "{:,}".format(card.card_price |
            default(0) | int) }}원</span>
    </div>
    <div class="flex items-center justify-between mt-2">
        <div class="truncate flex-1 min-w-0 mr-4">
            {% for member in card.card_members %}
            <button type="button" onclick="onMemberClick(event, '{{ member }}')"
                class="text-xl font-medium text-gray-400 cursor-pointer mr-1 hover:text-gray-500 transition">#{{ member
                }}</button>
            {% endfor %}
        </div>
        <div class="flex items-center text-gray-400 font-bold text-lg gap-1 shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd"
                    d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                    clip-rule="evenodd" />
            </svg>
            <span>{{ card.card_members | length }}</span>
        </div>
    </div>
</div>