<div class="flex flex-col gap-3 p-4 bg-white rounded-2xl border border-gray-100 shadow-sm hover:shadow-md transition-shadow cursor-pointer">
    <div class="flex items-center justify-between">
        <span class="font-semibold text-xl font-medium text-gray-400">01:11:59</span>
        <span class="text-l text-gray-400">{{ card.card_dudate }}</span>
    </div>
    <h3 class="text-2xl font-semibold text-gray-900 truncate">{{ card.card_title }}</h3>
    <div class="flex items-center justify-end">
        <div class="flex items-center gap-1">
            <img src="https://picsum.photos/64/64" class="w-12 h-12 rounded-md object-cover" />
            <img src="https://picsum.photos/64/64" class="w-12 h-12 rounded-md object-cover" />
            <img src="https://picsum.photos/64/64" class="w-12 h-12 rounded-md object-cover" />
            <img src="https://picsum.photos/64/64" class="w-12 h-12 rounded-md object-cover" />
        </div>
        <span class="px-3 text-2xl font-semibold text-gray-800">12,000원</span>
    </div>
    <div class="flex items-center justify-between">
        <div class="flex flex-wrap gap-1">
            <span class="text-xl font-medium text-gray-400">@우녕</span>
            <span class="text-xl font-medium text-gray-400">@바보</span>
        </div>
        <div class="flex items-center gap-1 text-xl text-gray-400">
            <img src="https://picsum.photos/64/64" class="w-8 h-8 rounded-md object-cover" />
            <span>2</span>
        </div>
    </div>
</div>

<script>
    function onCardClick(cardId) {
        window.location.href = `/food/${cardId}`;
    }

    function onIconClick(event, url) {
        event.stopPropagation();
        window.open(url, '_blank');
    }

    async function onMemberClick(event, nickname) {
        event.stopPropagation();
        const res = await fetch(`/food/profile?nickname=${nickname}`);
        const data = await res.json();
        if (data.result === 'success') window.open(data.slack_url, '_blank');
    }
</script>