<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>미니프로젝트 | 뭐먹지</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/css">

    </style>
</head>

<body>
    <div class="container">
    </div>
        <div>삐빅! 정상 작동합니다.</div>
        <div>(이 문구가 나오면 서버는 정상적으로 호스팅 된다는 것)</div>

    {% include 'test_socket_chat.html' %}

    <script>

    </script>
</body>

</html>
